{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}To-do's{% endblock %}</h1>
    {% if g.user %}
        <a href="{{ url_for('todo.create') }}" class="action">New to-do</a>
    {% endif %}
{% endblock %}

{% block content %}

    <ul>
        {% for todo in todos %}
            <li class="todo">
                <div>
                    <h3>
                        {% if todo['completed'] == 1 %}
                            <strike>{{ todo['description'] }}</strike>
                        {% else %}
                            {{ todo['description'] }}
                        {% endif %}
                    </h3>
                    <div class="about">
                        {{ todo['created_at'].strftime('%Y-%m-%d') }}
                        <a href="{{ url_for('todo.update', id=todo['id']) }}" class="action">Edit</a>
                    </div>
                </div>
            </li>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
